
@{
    ViewBag.Title = "Livraria";
}

<h2 class="text-center">Página Inicial da Livraria</h2>

<h5 class="text-center">@Html.ActionLink("Cadastrar Livros", "CadLivro", "Livraria")</h5>
<h5 class="text-center">@Html.ActionLink("Visualizar Livros", "SelLivro", "Livraria")</h5>
<h5 class="text-center">@Html.ActionLink("Alterar Livros", "AltLivro", "Livraria")</h5>
<h5 class="text-center">@Html.ActionLink("Apagar Livros", "DelLivro", "Livraria")</h5>

